/* tang-ui mini reset, version: 0.9 */
.tang-ui dl, .tang-ui dt, .tang-ui dd, .tang-ui ul, .tang-ui ol, .tang-ui li, .tang-ui input{
	margin: 0;
	padding: 0;
}
.tang-ui table{
	border-collapse: collapse;
	border-spacing: 0;
}
.tang-ui img{
	border: 0;
}
.tang-ui li{
	list-style: none;
}
.tang-ui th{
	text-align: left;
}
.tang-ui input, .tang-ui textarea, .tang-ui select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%;
}

/* tang-ui commons */
.tang-ui{
	
}

.tang-ui .tang-background{
	position: absolute; 
	z-index: -1; 
	top: 0; left: 0; 
	width: 100%; height: 100%; 
}

.tang-ui .tang-foreground{
	
}

/* 普通模式，直接使用 png 实现渐变透明的效果 */
.tang-background .top__{height:12px; font-size:1px;}
.tang-background .middle__{font-size:1px;}
.tang-background .bottom__{height:12px; font-size:1px;}

.tang-background .left__{width:12px;}
.tang-background .center__{}
.tang-background .right__{width:12px;}

/* 放入背景图 */
.tang-background .corner__{background:red url(corner.png) no-repeat;}
.tang-background .vertical__{background:transparent url(vertical.png) repeat-x;}
.tang-background .horizontal__{background:transparent url(horizontal.png) repeat-y;}
.tang-background .midland__{background-image:url(midland.png);}

.tang-background .top__ .left__{background-position:top left;}
.tang-background .top__ .center__{background-position:top left;}
.tang-background .top__ .right__{background-position:top right;}
.tang-background .middle__ .left__{background-position:top left;}
.tang-background .middle__ .right__{background-position:top right;}
.tang-background .bottom__ .left__{background-position:bottom left;}
.tang-background .bottom__ .center__{background-position:bottom left;}
.tang-background .bottom__ .right__{background-position:bottom right;}
/* 针对低端浏览器（IE6）使用gif代替png，优雅降级 */
.gif__{}
.tang-background .gif__ .corner__{background-image:url(1corner.gif);}
.tang-background .gif__ .vertical__{background-image:url(vertical.gif);}
.tang-background .gif__ .horizontal__{background-image:url(horizontal.gif);}
.tang-background .gif__ .midland__{background-image:url(midland.gif);}

.tang-popup{}

.tang-popup .tang-foreground {
	padding:5px;
}

.tang-popup .tang-background {
	border:1px solid #CCCCCC;
	background-color:#FFFFFF;
}

.tang-tooltip{
	/*margin-top:12px;*/
    padding:16px 20px 16px 16px;
}

.tang-tooltip .tang-close{
    z-index:1;
    position:absolute;
}

.tang-tooltip .tang-background {
	border:none;
	background-color:transparent;
}
.tang-tooltip .tang-foreground{
}

/* 两箭头的处理 */
.tang-tooltip .arrow_top{
	top:-7px;
	left:0px;
	height:8px;
	width:100%;
	z-index:1;
	font-size:1px;
	position:absolute;
	background:transparent url(arrow.png) no-repeat 20px top;
}
.tang-tooltip .arrow_bottom{
	top:100%;
	left:0px;
	width:100%;
	height:12px;
	z-index:1;
	font-size:1px;
	position:absolute;
	margin-top:-5px;
	background:transparent url(arrow.png) no-repeat center -10px;
}
.tang-tooltip .ie6__ .arrow_bottom{margin-top:-4px;}
.tang-tooltip-close{position:absolute; width:10px; height:9px; top:8px; right:11px;}
.tang-tooltip-close a{display:block; width:100%; height:100%; background:url(close.gif) no-repeat center center; text-decoration:none;}
.tang-tooltip-close a:hover{background-color:yellow;}

.tang-tooltip .ie6__ .arrow_top,
.tang-tooltip .ie6__ .arrow_bottom{background-image:url(arrow.gif);}

.tang-tooltip .align_left .arrow_top{background-position:20px top;}
.tang-tooltip .align_center .arrow_top{background-position:center top;}
.tang-tooltip .align_right .arrow_top{background-position:right top; left:-20px;}

.tang-tooltip .align_left .arrow_bottom{background-position:20px -10px;}
.tang-tooltip .align_center .arrow_bottom{background-position:center -10px;}
.tang-tooltip .align_right .arrow_bottom{background-position:right -10px; left:-20px;}

.tang-tooltip .dir_top .arrow_bottom{display:none;}
.tang-tooltip .dir_bottom .arrow_top{display:none;}

/* Tooltip */
.magic-tooltip{
	padding:16px 20px 16px 16px;
	position: absolute;
	display: block;
	/*border: 1px solid black;*/
}

.magic-tooltip .magic-tooltip-close{
    position:absolute; 
	width:10px; 
	height:9px; 
	top:8px; 
	right:11px;
}
.magic-tooltip-close a{
	background:url(close.gif) no-repeat center center;
	display:block; 
	width:100%; 
	height:100%;
}
.magic-tooltip .tang-background{
	line-height: 12px;
}
.magic-tooltip .magic-tooltip-arrow{
	background:transparent url(arrow.gif) no-repeat;
	position: absolute;
	_font-size: 0px;
}
.magic-tooltip .arrow-top,
.magic-tooltip .arrow-bottom{
	height: 10px;
	width: 15px;
}
.magic-tooltip .arrow-left,
.magic-tooltip .arrow-right{
	height: 15px;
	width: 10px;
}
.magic-tooltip .arrow-top{
	background-position: 0px 2px;	
}
.magic-tooltip .arrow-bottom{
	background-position: 0px -10px;
}
.magic-tooltip .arrow-left{
	background-position: -17px 0px;
}
.magic-tooltip .arrow-right{
	background-position: -26px 0px;
}

.cssloaded{
	width: 20px
}