/* 普通模式，直接使用 png 实现渐变透明的效果 */
.tang-background .top__{height:12px; font-size:1px;}
.tang-background .middle__{font-size:1px;}
.tang-background .bottom__{height:12px; font-size:1px;}

.tang-background .left__{width:12px;}
.tang-background .center__{}
.tang-background .right__{width:12px;}

/* 放入背景图 */
.tang-background .corner__{background:transparent url(corner.png) no-repeat;}
.tang-background .vertical__{background:transparent url(vertical.png) repeat-x;}
.tang-background .horizontal__{background:transparent url(horizontal.png) repeat-y;}
.tang-background .midland__{background-image:url(midland.png);}

.tang-background .top__ .left__{background-position:top left;}
.tang-background .top__ .center__{background-position:top left;}
.tang-background .top__ .right__{background-position:top right;}
.tang-background .middle__ .left__{background-position:top left;}
.tang-background .middle__ .right__{background-position:top right;}
.tang-background .bottom__ .left__{background-position:bottom left;}
.tang-background .bottom__ .center__{background-position:bottom left;}
.tang-background .bottom__ .right__{background-position:bottom right;}
/* 针对低端浏览器（IE6）使用gif代替png，优雅降级 */
.gif__{}
.tang-background .gif__ .corner__{background-image:url(corner.gif);}
.tang-background .gif__ .vertical__{background-image:url(vertical.gif);}
.tang-background .gif__ .horizontal__{background-image:url(horizontal.gif);}
.tang-background .gif__ .midland__{background-image:url(midland.gif);}