.tang-tooltip{
	/*margin-top:12px;*/
    padding:16px 20px 16px 16px;
}

.tang-tooltip .tang-close{
    z-index:1;
    position:absolute;
}

.tang-tooltip .tang-background {
	border:none;
	background-color:transparent;
}
.tang-tooltip .tang-foreground{
}

/* 两箭头的处理 */
.tang-tooltip .arrow_top{
	top:-7px;
	left:0px;
	height:8px;
	width:100%;
	z-index:1;
	font-size:1px;
	position:absolute;
	background:transparent url(arrow.png) no-repeat 20px top;
}
.tang-tooltip .arrow_bottom{
	top:100%;
	left:0px;
	width:100%;
	height:12px;
	z-index:1;
	font-size:1px;
	position:absolute;
	margin-top:-5px;
	background:transparent url(arrow.png) no-repeat center -10px;
}
.tang-tooltip .ie6__ .arrow_bottom{margin-top:-4px;}
.tang-tooltip-close{position:absolute; width:10px; height:9px; top:8px; right:11px;}
.tang-tooltip-close a{display:block; width:100%; height:100%; background:url(close.gif) no-repeat center center; text-decoration:none;}
.tang-tooltip-close a:hover{background-color:yellow;}

.tang-tooltip .ie6__ .arrow_top,
.tang-tooltip .ie6__ .arrow_bottom{background-image:url(arrow.gif);}

.tang-tooltip .align_left .arrow_top{background-position:20px top;}
.tang-tooltip .align_center .arrow_top{background-position:center top;}
.tang-tooltip .align_right .arrow_top{background-position:right top; left:-20px;}

.tang-tooltip .align_left .arrow_bottom{background-position:20px -10px;}
.tang-tooltip .align_center .arrow_bottom{background-position:center -10px;}
.tang-tooltip .align_right .arrow_bottom{background-position:right -10px; left:-20px;}

.tang-tooltip .dir_top .arrow_bottom{display:none;}
.tang-tooltip .dir_bottom .arrow_top{display:none;}
