.tang-carousel {
    background: #f4f4f4;
}
.tang-carousel-container {
    position: relative;/*must*/
    float:left;
    width: 560px;
    height: 140px;
    overflow: hidden;
}
.tang-carousel-container .tang-carousel-element {
    height: 140px;
}
.tang-carousel-container .tang-carousel-element .tang-carousel-item {
    float: left;
    display: inline;
    width: 120px;
    height: 120px;
    padding: 10px;
}
.tang-carousel-container .tang-carousel-element .tang-carousel-item-selected {
    background: white;
}

/*btn*/
.tang-carousel-btn {
    float:left;
    margin-top: 45px;
    width: 42px;
    height: 42px;
    background: url(baidu.ui.Carousel/carousel-btn.png) no-repeat;
}


a.tang-carousel-btn-prev:link,
a.tang-carousel-btn-prev:visited {background-position: 0px 0px;}
a.tang-carousel-btn-next:link,
a.tang-carousel-btn-next:visited {background-position: -42px 0px;}
a.tang-carousel-btn-prev:hover {
    background-position: 0px -42px;
    background-color: #0084ff;
}
a.tang-carousel-btn-next:hover {
    background-position: -42px -42px;
    background-color: #0084ff;
}


a.tang-carousel-btn-prev-disabled:link,
a.tang-carousel-btn-prev-disabled:visited,
a.tang-carousel-btn-prev-disabled:hover,
a.tang-carousel-btn-prev-disabled:active {
    background-position: 0px -84px;
}

a.tang-carousel-btn-next-disabled:link,
a.tang-carousel-btn-next-disabled:visited,
a.tang-carousel-btn-next-disabled:hover,
a.tang-carousel-btn-next-disabled:active {
    background-position: -42px -84px;
}

