.demo{
	font-size: 14px;
	padding: 10px;
	color: #333;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	position: relative;
}

.demo h1{
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: 700;
}

.demo strong{
	font-weight: 700;
	color: blue;
}

.demo-control{
	border-collapse: collapse;
}

.demo-control td{
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	line-height: 22px;
}

.demo-control td span{
	vertical-align: middle;
}

.demo-control td .textInput,
.demo-control td .textInput-s,
.demo-control td .textArea{
	width: 195px; padding-left: 5px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
}

.demo-control td .textInput-s{
	width: 50px;
}

.demo-control td .textArea{
	height: 50px;
	overflow: auto;
}

.demo-control td .btn{
	width: 60px;
	height: 22px;
	background-color: #ccc;
	line-height: 14px;
	padding: 0;
}

#hello, #world{
	border: 1px solid #900;
	width: 290px; padding-left: 10px;
	line-height: 30px;
	text-align: left;
	background-color: #fff;
}

#world{
	border-color: #009;	
}

#temp-div #hello, #temp-div #world{
	margin-top: 10px;
}

#temp-div{
	position: absolute;
	left: 450px; top: 0;
}

.tang-body .content{
	font-size: 14px;
}