.clearfix:after {
	content : ".";
	display : block;
	visibility : hidden;
	height : 0;
	clear : both;
}

.clearfix {
	zoom : 1;
}
.magic-combobox {
	border : 1px solid;
	border-top-color : #979797;
	border-right-color : #a9a9a9;
	border-bottom-color : #a9a9a9;
	border-left-color : #979797;
	background : #fff;
	display : inline-block;
}
.magic-combobox .magic-combobox-input-container {
} 

.magic-combobox .magic-combobox-input-container .magic-combobox-input-outter {
	float : left;
	margin-right : -20px;
	width : 100%;
}

.magic-combobox .magic-combobox-input-container .magic-combobox-input-inner {
	margin-right : 20px;
	margin-left : 10px;
}  

.magic-combobox .magic-combobox-input {
	height: 23px;
	width : 100%;
	border : 0;
	padding : 0;
	margin : 0;
	line-height : 17px;
	font-size : 12px;
	color : #333;
	background : #fff;
	/* hack for IE7 */
	+margin : -1px 0;
	/* hack for IE8 */
	height : 21px\0;
}
.magic-combobox .magic-combobox-input:focus {
	outline : none;
}

.magic-combobox .magic-combobox-arrow {
	margin-top : 4px;
	float : right;
	display : block;
	width : 15px;
	height : 15px;
	overflow : hidden;
	background : url(magic-combobox-arrow.gif) no-repeat 0 0;
	border-left : 1px solid #a9a9a9;
}

.magic-combobox .magic-combobox-arrow:hover {
	border-left-color : #256eff;
	background-position: -15px 0;
}

.magic-combobox-menu,.magic-combobox-menu .magic-combobox-menu-item {
	padding : 0;
	margin : 0;
}

.magic-combobox-menu {
	border : 1px solid #979797;
	/*border-top : none;*/
	list-style : none;
	box-shadow : 3px 3px 3px rgba(0,0,0,.25);
	overflow : auto;
	background : #fff;
}

.magic-combobox-menu .magic-combobox-menu-item {
	font-size : 12px;
	cursor : default;
	padding : 6px 0 6px 10px;
}

.magic-combobox-menu .magic-combobox-menu-item-hover {
	background-color : #303030;
	color : #fff;
}

.magic-combobox-disable .magic-combobox-input-container {
	background : #f3f3f3;
	border-top-color : #9e9e9e;
	border-right-color : #a9a9a9;
	border-bottom-color : #a9a9a9;
	border-left-color : #9e9e9e;
}

.magic-combobox-disable .magic-combobox-input {
	background : #f3f3f3;
	color : #cacaca;
}

.magic-combobox-disable .magic-combobox-arrow,
.magic-combobox-disable .magic-combobox-arrow:hover {
	cursor : default;
	border-left-color : #d9d9d9;
	background-position: -30px center;
}

.magic-combobox-host {
	position : relative;

}
.magic-combobox-container-setup {
	position : absolute;
	top : -5px;
	left : 0;
}
