.tang-dialog .tang-body {
    position: relative;
}
.tang-dialog .tang-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0;
    margin: 0;
}
.tang-dialog .tang-buttons button {
    height: 30px;
    width: 90px;    
}
.tang-alert-mask {
    position: fixed;
    top:0;
    left:0;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
}
