body {
	font-family: "Arial", "宋体";
	font-size: 14px;
	color: #333;
	margin: 0;
	min-height: 500px;
	padding-bottom: 15px;
	overflow-y: auto;
}

iframe body {
	overflow-y: hidden;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.content {
	margin: 0;
}
.demo-list {
	position: fixed;
	*position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 219px;
	background-color: #F8F8F8;
	padding: 10px;
	border-right: 1px solid #AAA;
	box-shadow: inset -1px 0 white, 1px 0 8px #CCC;
	z-index: 9999999999;
}
.demo-list h3 {
	font-family: 'Microsoft Yahei';
	margin: 5px 0 10px 0;
	color: #333;
	font-weight: normal;
	font-size: 18px;
	text-shadow: 1px 1px white;
}
.demo-list li {
	margin-bottom: 5px;
	position: relative;
}
.demo-list a {
	color: #666;
	text-shadow: 0 -1px white;
	background: url(demo.png) 0 6px no-repeat;
	padding-left: 25px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
}
.demo-list a.open-blank{
	position: absolute;
	right: 0;
	top: 0;
	background: url(fullscreen_toggle.png) no-repeat;
	height: 20px;
	width: 20px;
	padding: 0;
}
.demo-list a.open-blank:hover {
	background-position: 0 -20px;
}
.demo-list a.open-blank:active {
	background-position: 0 -40px;
}
.demo-list a:hover {
	color: #1590B3;
	background-position: 0 -19px;
}
.demo-list a.selected {
	font-weight: bold;
	color: black;
	background-position: 0 6px;
	cursor: text;
}
.main-wrap {
	margin-left: 255px;
	margin-right: 15px;
}
.demo-wrap {
	background-color: #8899DD;
	color: #FFF;
	padding: 15px;
	margin-top: 15px;
	border-radius: 10px;
	*zoom:1;
}
.demo-wrap h3 {
	color: #FFF;
	font-family: 'Microsoft Yahei';
	margin: 10px 0 20px;
	font-weight: normal;
	text-shadow: 1px 1px #0C1EA7;
}
.console-wrap {
	margin: 20px 0;
	border: 1px solid #999;
}
.console-wrap h3 {
	margin: 0;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: normal;
	background-color: #F3F3F3;
	border-top: 1px solid white;
	border-bottom: 1px solid #BBB;
	height: 20px;
	line-height: 20px;
	color: #666;
}
.console {
	height: 301px;
	overflow: scroll;
	overflow-x: hidden;
}
.console p {
	padding: 0 0 5px 3px;
	border-bottom: 1px solid #E1E1E1;
	margin: 5px 0;
}
.console span {
	padding: 3px;
	margin-right: 5px;
}
.console .event {
	background-color: #A7CC25;
}
.console .fn {
	background-color: #A6C9D7;
}
.console .info {
	background-color: #89D;
}

.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}
.demo-control {
	border-collapse: collapse;
	color: #333;
}

.demo-control td {
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	line-height: 22px;
}

.demo-control td span {
	vertical-align: middle;
}

.demo-control td .textInput, .demo-control td .textInput-s, .demo-control td .textArea {
	width: 195px;
	padding-left: 5px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
}
.demo-control td .textInput-s {
	width: 50px;
}
.demo-control td .textArea {
	height: 50px;
	overflow: auto;
}

.demo-control td .btn {
	width: 60px;
	height: 22px;
	line-height: 14px;
	padding: 0;
}